body
{
  font-family:"Montserrat", sans-serif;
  background-color:#121212;
  color:#e3e3e3;
}




/* NAVBAR */
.navbar-custom
{
  background-color:#121212;
}
.navbar-logo
{
  height:100px;
  width:125px;
  transition:width 0.5s, height 0.5s;

}

.navbar-logo:hover
{
  width:135px;
  height:110px;
}
.container-fluid
{
  padding:3% 15%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e3e3e3;
    font-weight:900;
    font-size:1.2rem;
}

.nav-item
{
  padding:0 10%;

}

.heading
{
  color:white;
  /* padding:11% 9% 0 9%; */
  /* padding:5% 15% 0 15%; */
  /* padding:5% 0 0 5%; */
  text-align: center;
  padding-top:8%;
  font-weight: 900;
  font-size:5rem;
  /* line-height: 1.5; */
  margin:0;
}

.join_us
{
  font-weight:900;
  font-size:1.5rem;
  text-align: center;
  padding-top: 3%;
}

.heading-span
{
  padding:0 0 0 7%;
}
.rounded_button
{
  border-radius: 50px;
  /* padding:2% 10%; */
  padding:2% 5%;
  margin:3%;
  /* width: 100%;
  margin: 0 auto; */
  align-content: center;

}

.button-text
{
  color:#121212;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 1.5rem;
}
